@using Identity.Models;
@model Produk
@{
}
<div class="row">
    <div class="col-md-12">
        <form method="post" action="@Url.Action("Update","Produk")">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="form-group">
                <label>nama produk</label>
                <input type="text" class="form-control" name="nama_produk" placeholder="nama produk" value="@Model.nama_produk" required>
            </div>

            <div class="form-group">
                <label>jenis produk</label>
                <input type="text" class="form-control" name="jenis_produk" placeholder="jenis produk" value="@Model.jenis_produk" required>
            </div>

            <div class="form-group">
                <label>qty</label>
                <input type="text" class="form-control" name="qty" placeholder="qty" value="@Model.qty" required>
            </div>

            <div class="form-group">
                <label>Designation</label>
                <input type="text" class="form-control" name="Designation" placeholder="designation" value="@Model.Designation" required>
            </div>
            <div class="form-group">
                <label>StaffNo</label>
                <textarea class="form-control" name="StaffNo" placeholder="StaffNo" required>@Model.StaffNo</textarea>
            </div>

            <button class="btn btn-success" type="submit">Update produk</button>
        </form>
    </div>
</div>