@using Identity.Models;
@model List<Produk> 
@{
}
<div>
    @using (Html.BeginForm("ExportToExcel", "Produk", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div>
            <input type="submit" value="Export xls" class="btn-primary" />
        </div>

    }
</div>
<div>
@using (Html.BeginForm("Export", "Produk", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div>
        <input type="submit" value="Export pdf" class="btn-primary" />
    </div>

}
</div>
<br />
<a href="@Url.Action("Create","Produk")">Create</a>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th> No</th>
                        <th>nama produk</th>
                        <th>jenis produk</th>
                        <th>qty</th>
                        <th>designation</th>
                        <th>staff no</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var staff in Model)
            {
                    <tr>
                        <td>@staff.Id</td>
                        <td>@staff.nama_produk</td>
                        <td>@staff.jenis_produk</td>
                        <td>@staff.qty</td>
                            <td>@staff.Designation</td>
                            <td>@staff.StaffNo</td>
                        <td>
                            <a class="btn btn-sm btn-primary" href="@Url.Action("Edit","Produk",new {id=staff.Id})">Edit</a>
                        </td>
                        <td>
                                <a class="btn btn-sm btn-danger" href="@Url.Action("Delete","Produk",new {id=staff.Id})">Delete</a>
                        </td>
                    </tr>
            }
                </tbody>
            </table>
        </div>
    </div>
</div>